main{
 
}


.fuenteSecundaria_404{
    font-family: $tipografia-principal;
    text-align: center;
    color: map-get($map: $colors, $key: error);
    h1{
        font-size: 10rem;
    }
    h2{
        font-size: 2rem;
    }
}
