$tipografia-titulo: 'Poppins' sans-serif;
$tipografia-principal: 'Shadows Into Light Two';
$tipografia-secundaria: 'Gloria Hallelujah';

$fuente-titulo: 4rem;
$fuente-principal: 2.5rem;
$fuente-secundaria: 1.5rem;
$fuente-img: 1rem;

$color-principal: gray;
$color-secundario: black;

$background-color-header: #fcb69f;
$background-color-main: #ffd6c0;
$background-color-footer: #ffecd2;

$colors: (
   "principal": gray,
   "secundario": black,
   "terciario": white,
   "error": rgba(0, 0, 255, 0.61),
)